@use '/src/styles/index.scss' as *;

.episode-title {
    background: #fff;
    color: $primary-color;
    font-size: 2.3rem;
    width: max-content;
    font-weight: 600;
}

.share-episode {
    h3 {
        color: #7b7b7b;
    }

    i {
        display: inline-block;
        margin-right: .5rem;
        font-size: 1.8rem;
    }

    .bi-whatsapp {
        color: green;
    }

    .bi-facebook {
        color: blue;
    }

    .bi-telegram {
        color: blue;
    }
}