@use '/src/styles/index.scss' as *;

.episode-title {
    background: #fff;
    color: $primary-color;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 40px;
}

.share-episode {
    h3 {
        color: #7b7b7b;
    }

    i {
        display: inline-block;
        margin-right: .5rem;
        font-size: 1.8rem;
    }

    .bi-whatsapp {
        color: #25D366;
    }

    .bi-facebook {
        color: #1877F2;
    }

    .bi-telegram {
        color: #0088CC;
    }
}

.episode-content {
    p {
        img {
            display: block;
            width: 300px;
            border-radius: 5px;
            filter: drop-shadow(1px 1px 1px #00000085);
        }
    }
}

.advert-popup {
    cursor: pointer;
    background: #ffe3e343;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;
    z-index: 2;

    .advert-instruction {
        background: #fff;
        width: 350px;
        margin: 11rem auto 0;
        border: 2px solid #ffe3e3;
        border-radius: 0.5rem;
        padding: 1rem 2rem;

        ol {
            li {
                margin: 0 0 1rem;
            }
        }

        .close-btn {
            background: #F97180;
            color: #fff;
            font-weight: 600;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 5px;
            width: 100%;
            display: block;
        }
    }
}

@media screen and (max-width: 800px) {
    .episode-title {
        background: #fff;
        color: $primary-color;
        font-size: 2rem;
        font-weight: 600;
    }

    .episode-content {
        p {
            img {
                box-sizing: border-box;
                display: block;
                width: 100%;
            }
        }
    }

    .advert-popup {
        .advert-instruction {
            background: #fff;
            width: auto;
            margin: 11rem 1rem 0;
            border: 2px solid #ffe3e3;
            border-radius: 0.5rem;
            padding: 1rem 2rem;

        }
    }

}