@use "/src/styles/index.scss" as *;

#adminLoginForm {
    margin: 5rem auto 0;
    padding: 1rem 2rem;
    width: 300px;
    background: #f4f5f6;
    box-shadow: $box-shadow3;

    .input-control {
        // margin: 0 0 1rem;
        margin-bottom: 1rem;

        input {
            box-sizing: border-box;
            display: inline-block;
            height: 50px;
            width: 100%;
            border: 2px solid #f3e1ff;
            border-radius: 0.5rem;
            font-size: 1.1rem;
            transition: all .2s;

            &:hover {
                outline: 2px solid $secondary-color;
            }
        }

        button {
            box-sizing: border-box;
            padding: 0.6rem 1.6rem;
            width: 100%;
            border: none;
            color: #fff;
            font-size: 1rem;
            border-radius: 0.5rem;
            background: $secondary-color;
            transition: all .2s;
            // text-transform: uppercase;

            &:hover {
                color: $secondary-color;
                background: #BD34FE40;
                letter-spacing: 1px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    #adminLoginForm {
        width: 80%;
    }
}