@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

// Text Variables
$h1-font: 'Rubik Dirt', cursive;
$default-font: 'Secular One', sans-serif;

// font variables
$primary-color: #F97180;
$secondary-color: #261035;

// Shadow variables
$box-shadow: 0 25px 50px -5px #BD34FE40;
$text-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
$box-shadow2: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
$box-shadow3: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);

body {
    margin: 0;
    background: #fff;
    font-family: $default-font;
}

h1 {
    font-family: $h1-font;
    color: $secondary-color;
}

a {
    text-decoration: none;
    color: $secondary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}