@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap'); // for buttons


// Text Variables
$h1-font: 'Rubik Dirt', cursive;
$default-font: 'Nunito', sans-serif;
$button-font: 'Lemon', cursive;


// font variables
$primary-color: #F97180;
$secondary-color: #3e1a56;

// Shadow variables
$box-shadow: 0 25px 50px -5px #BD34FE40;
$text-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
$box-shadow2: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
$box-shadow3: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);

body {
    margin: 0;
    background: #fff;
    font-family: $default-font;
    scroll-behavior: smooth;
}

h1 {
    font-family: $h1-font;
    color: $secondary-color;
}

#logo {
    width: 150px;
}

#side-img {
    width: 30px;
    position: absolute;
    transform: translateY(-15px),
}

button[disabled] {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.bi-whatsapp {
    color: #25D366;
}

.bi-facebook {
    color: #1877F2;
}

.bi-telegram {
    color: #0088CC;
}

.bi-twitter {
    color: #1DA1F2;
}

.bi-instagram {
    color: #8a3ab9;
}

@media screen and (max-width: 750px) {
    #logo {
        width: 100px;
    }

    #side-img {
        width: 20px;
        position: absolute;
        transform: translateY(-5px),
    }

}