@use './index.scss' as *;

.w-34 {
    max-width: 34rem !important;
    margin: 0 auto;
}

.w-40 {
    max-width: 40rem !important;
    margin: 0 auto;
}

.read-box {
    max-width: 700px;
    margin: 0 auto;
}

.err-btn {
    background: #F97180;
    color: #fff;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    width: 100%;
    display: block;
    opacity: 0.6;

    &:hover {
        background: #ffa0ab;
    }
}

.color-blue {
    color: #6842FF !important;
}

.text-gold {
    color: #C3510E !important;
}

.font-cursive {
    font-family: $button-font !important;
}

.btn-blue {
    font-family: $button-font !important;
    background: #6842FF !important;
    border: 2px solid #ffffff4d !important;
    cursor: pointer;
    transition: all .2s ease !important;
    display: inline-block;

    &:hover {
        transform: translateY(3px);
        background: #6d3c8f;
    }

    i {
        font-size: 1.3em;
        margin-right: .3rem;
        color: #fff;
        position: relative;
        top: 1px;
    }
}

.bg-blue {
    background: #F3E1FF !important;
}

// Animation classes
.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated-2 {
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.fadeInBg {
    -webkit-animation-name: fadeInBg;
    animation-name: fadeInBg;
}

.loading-text {
    opacity: 0.5;
    animation: loadingText 1s ease infinite;
}

.loading {
    transition: all .5s;
    opacity: 0.2;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInBg {
    0% {
        backdrop-filter: blur(0);
    }

    100% {
        backdrop-filter: blur(10px);
    }
}

@keyframes loadingText {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 0.5;
    }
}