@use '/src/styles/index.scss' as *;

.episode-card {
    font-weight: 500;
    background: #f3e1ff;
    outline: 2px solid $secondary-color;
    border-radius: 5px;
    width: 350px;
    box-shadow: 10px 10px 0 3px $secondary-color;
    transition: all .3s;

    .episode-img {
        height: 200px;
        width: auto;
        background: #fff;
    }

    .content {
        padding: 0.5rem 1rem;
    }

    &:hover {
        position: relative;
        top: 3px;
        left: 3px;
        box-shadow: 1px 1px 0 1px $secondary-color;
    }

    i {
        font-size: 2rem;
        text-shadow: 1px 1px 1px $primary-color;
    }

    p {
        text-align: left;
    }
}

#loader-component {
    background: #ffe3e343;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;
    // code below centers the inner elements
    display: flex;
    justify-content: center;
    align-items: center;

    .loader-image {
        img {
            width: 300px;
        }
    }

    p {
        font-weight: 600;
    }

}

#backdrop {
    background: #ffe3e343;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;

    .backdrop-content {
        background: #fff;
        width: 350px;
        margin: 11rem auto 0;
        border: 2px solid #ffe3e3;
        border-radius: 0.5rem;
        padding: 1rem 2rem;

        .form-container {
            .input-control {
                margin: 0 0 1rem;

                input {
                    box-sizing: border-box;
                    display: inline-block;
                    height: 50px;
                    width: 100%;
                    border: 2px solid #f3e1ff;
                    border-radius: 0.5rem;
                    font-size: 1.3rem;
                    transition: all .2s;

                    &:hover {
                        outline: 2px solid $secondary-color;
                    }
                }

                button {
                    box-sizing: border-box;
                    padding: 0.6rem 1.6rem;
                    width: 100%;
                    border: none;
                    color: #fff;
                    border-radius: 0.5rem;
                    background: $secondary-color;
                    transition: all .2s;
                    text-transform: uppercase;
                    font-weight: 700;

                    &:hover {
                        color: $secondary-color;
                        background: #BD34FE40;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}

.details-card {
    background: #F4F5F6;
    border-radius: 5px;
    box-shadow: $box-shadow2;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .content {
        padding: 0.3rem 0.6rem;
    }

    .delete {
        width: max-content;
        padding: 0.3rem 0.6rem;
        border: none;
        cursor: grab;
        background: #bc3131;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
    }

    &:hover {
        box-shadow: $box-shadow3
    }
}

.ad-list-card {
    background: #F4F5F6;
    border-radius: 5px;
    box-shadow: $box-shadow2;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .content {
        padding: 0.3rem 0.6rem;
    }

    .delete {
        width: max-content;
        padding: 0.3rem 0.6rem;
        border: none;
        cursor: grab;
        background: #bc3131;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
    }

    &:hover {
        box-shadow: $box-shadow3
    }
}

.banner {
    max-width: 375px;
    height: 200px;
    border-radius: 5px;
    box-shadow: $box-shadow3;
    text-align: center;
    margin: 0 auto;
    background-image: url('../assets/ad-img.png');
    background-size: cover;
    outline: 3px solid #2b2b2b86;
}

.popup-ad {
    width: auto;
    height: auto;
    box-shadow: $box-shadow3;
    text-align: center;
    margin: 0 auto;

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

#popup-card {
    background: #ffe3e343;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;

    .card-container {
        background: #fff;
        width: 350px;
        margin: 11rem auto 0;
        border: 2px solid #ffe3e3;
        border-radius: 0.5rem;
        padding: 1rem 2rem;

    }
}

@media screen and (max-width: 800px) {
    .episode-card {
        outline: 3px solid $secondary-color;
        box-shadow: none;
        width: auto;

        .episode-img {
            height: 200px;
            width: auto;
            background: #fff;
        }

        &:hover {
            transform: scale(1.01, 1.01);
        }
    }

    #backdrop {
        .backdrop-content {
            width: 280px;
        }
    }

    .banner {
        width: auto;
    }

    .popup-ad {
        width: auto;
    }

    #popup-card {
        .card-container {
            width: auto;
            margin: 30vh 1rem 0;
        }
    }
}