@use '/src/styles/index.scss' as *;

#atf {
    h2 {
        font-size: 4rem;
        text-align: center;
        font-family: $h1-font;
        color: $secondary-color;
    }

    .episodes {
        gap: 2rem;
    }
}

#banner-img {
    margin: 0 auto;
    width: max-content;

    img {
        width: 400px;
    }
}

#episodes {
    margin: 4rem auto 0;
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: center;

}

@media screen and (max-width: 650px) {
    #atf {
        h2 {
            font-size: 2rem;
        }
    }

    #banner-img {
        margin: 0 auto;
        width: max-content;

        img {
            width: 350px;
        }
    }

    #episodes {
        display: block;
    }
}