@use '/src/styles/index.scss' as *;

header {
    padding: 1rem 0;
    background: #F4F5F6;
    box-shadow: $box-shadow2;

    nav {
        h1 {
            #logo {
                width: 150px;
            }

            #side-img {
                width: 30px;
                position: absolute;
                transform: translateY(-25px),
            }
        }

        .nav-item {
            span {
                font-size: 1rem;
                font-weight: 700;
                margin-left: .5rem;
                cursor: pointer;
                transition: all .2s ease;

                i {
                    font-size: 1em;
                    margin: 0 .4rem;
                    color: #F97180;
                }
            }
        }
    }
}

footer {
    h4 {
        padding: 0.2rem 0.4rem;
        border-radius: 0.5rem;
        color: #fff;
        background-color: $secondary-color;
        display: inline-block;
    }
}

.active {
    background: #261035 !important;
    color: #fff;
}

.admin-layout {
    section {
        display: flex;

        main {
            width: 100%;
        }

        aside {
            margin: 1rem 0 0;
            box-shadow: $box-shadow2;
            background: #F4F5F6;
            height: fit-content;
            padding: 0.5rem;
            width: 200px;
            position: sticky;
            top: 0px;
            border-radius: 0 5px 5px 0;

            &:hover {
                box-shadow: $box-shadow3;
            }

            a {
                width: auto;
                border-radius: 4px;
                display: block;
                padding: 0.5rem 1rem;
                margin: 0 0 0.1rem;
                border: 1px solid #0000002f;
                background: #fff;
                transition: all .3s ease;

                i {
                    color: #F97180;
                }

                span {
                    display: inline-block;
                    margin-left: 0.5rem;
                }

                &:hover {
                    background: #BD34FE40;
                    border: 1px solid #261035;

                    i {
                        color: #261035;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    header {
        padding: 0.5rem 0;
        // transform:

        nav {
            h1 {
                font-size: 1rem;

                #logo {
                    width: 100px;
                }

                #side-img {
                    width: 18px;
                    position: absolute;
                    transform: translateY(-12px),
                }

            }


            .nav-item {

                span {
                    .nav-text {
                        display: none;
                    }

                    i {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

    .admin-layout {
        section {
            display: flex;

            aside {
                background: #F4F5F6;
                padding: 0.5rem;
                width: max-content;

                a {
                    width: auto;
                    border-radius: 4px;
                    display: block;
                    padding: 0.3rem 0.6rem;
                    margin: 0 0 0.1rem;
                    border: 1px solid #0000002f;
                    background: #fff;
                    transition: all .3s ease;

                    i {
                        color: #F97180;
                    }

                    span {
                        display: none;
                        margin-left: 0.5rem;
                    }

                    &:hover {
                        background: #BD34FE40;
                        border: 1px solid #261035;

                        i {
                            color: #261035;
                        }
                    }
                }
            }
        }
    }

}